
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    /* /* SCSS RGB */
    --color1: rgba(252, 186, 4, 1);
    --color2: rgba(165, 1, 4, 1);
    --color3: rgba(89, 0, 4, 1);
    --color4: rgba(37, 0, 1, 1);
    --color5: rgba(243, 243, 243, 1);

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    background-color: var(--color5);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 30px;
    font-family: 'Yeon Sung', cursive;
    font-size: 1.5rem;
    background-color: rgba(165, 1, 4, .7);
    color: var(--color4);
    border: 3px solid var(--color1);
    border-radius: 5px;
}

section {
    font-family: 'Yeon Sung', cursive;
    font-size: 1.2rem;
    background-color: var(--color5);
    width: 800px;
    max-width: 80%;
    margin: 20px;
}

header {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/dice-pile.jpg);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#quiz-button {
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--color2);
    color: var(--color5);
    border: 5px solid var(--color1);
    margin-bottom: 20px;
}

#results-div {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    background-color: rgba(89, 0, 4, .8);
    color: var(--color5);
    border: var(--color1) 10px solid;
    border-radius: 35px;
    font-family: 'Yeon Sung', cursive;
    font-size: 2rem;
    text-align: center;
}

.header-transparent {
    background-color:rgba(89, 0, 4, .6);
    color: var(--color5);
    padding: 10px;
    font-size: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 8px;
}

.lists {
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(165, 1, 4, .4);
    padding: 5px 30px;
    border-radius: 10px;
}

.cool-facts {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 450px;
    height: 100%;
}

.top-5 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100%;
}

ul {
    list-style: circle;
}

ol {
    list-style: decimal;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

.hidden {
    display: none;
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }